<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News - one</title>
</head>
<body>

    <h1>News Page</h1>

    <table border="1">
        <tr>
            <td>Id news</td>
            <td>Title</td>
        </tr>

        <% for(var i = 0; i < newsList.length; i++) { %>
        <tr>
            <td><%= newsList[i].id %></td>
            <td><%= newsList[i].title %></td>
        </tr>
        <% } %>
    </table>
    
</body>
</html>